
.search-result-section{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
}

.search-result-section> div{
    width:100%;
    padding: 0 20px;
}


.resultTypeSelect{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.resultTypeSelect > button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--green--medium--color);
    background-color: var(--green--bright--color);
    cursor: pointer;
    margin: 5px;
    color: white !important;
    font-size: 15px;
    line-height: 1;

}


/* 페이지 */
.page-area {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  /* 페이지 숫자 리스트 */
  .page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* 페이지 숫자 개체 */
  .pageNum {
    cursor: pointer;
  }
  .pageNum:hover {
    transform: scale(1.1) !important;
  }
  
  /* 현재 페이지 숫자 개체 */
  .nowPage {
    font-weight: bold;
    color: #1dc078;
  }
  
  /* 페이지 이동 버튼 */
  .page-move-btn {
    width: 20px;
    height: 20px;
    height: 20px;
  }
  
  .nonDisplay {
    visibility: hidden !important;
  }