{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'score/css/score_detail.css'%}" />
<link rel="stylesheet" href="{% static 'score/css/score_create.css'%}" />
<link rel="stylesheet" href="{% static 'score/css/score_base.css'%}" />
<style>
  .score-form {
    gap: 20px;
  }
  .input-box {
    display: flex;
    flex-direction: row;
  }
  .input {
    width: 40%;
    padding: 10px;
    border: 1px solid #ddd;
    /* border-radius: 10px; */
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
  }
  .playerSelect,
  #player_select_origin input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
  }
  .player_select_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .game-user-search {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--green--medium--color);
    background-color: var(--green--bright--color);
    color: white;
    font-size: 15px;
    line-height: 1;
  }
  .game-user-search:hover {
    transition: 0.1s;
    background-color: var(--green--medium--color);
  }
  #player_select_origin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
  }
  #player_select_origin > div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .locationSelect {
    width: 180px;
  }
  .locationInputArea span {
    font-size: 20px;
  }
  @media screen and (min-width: 700px) {
    .locationInputArea span {
      font-size: 30px;
    }
    .locationSelect {
      width: 300px;
    }
  }
</style>
{% endblock %} {% block content %}
<form action="" method="post" enctype="multipart/form-data" class="score-form">
  {% csrf_token %} {{ form }}
  <div class="input-box">
    <label for="id_couers_count">코스 수 :</label>
    <div class="input-box">
      <div class="decBtn" onclick="decBtn(this)">-</div>
      <input
        class="input"
        type="number"
        name="round_count"
        min="1"
        max="10"
        value="1"
        id="id_player_count"
      />
      <div class="incBtn" onclick="incBtn(this)">+</div>
    </div>
  </div>
  <div class="input-box">
    <label for="id_player_count">참가원 : </label>
    <div class="input-box">
      <div class="decBtn" onclick="player_decBtn(this)">-</div>
      <input
        class="input"
        type="number"
        name="player_count"
        min="1"
        max="4"
        value="1"
        id="id_player_count"
      />
      <div class="incBtn" onclick="player_incBtn(this)">+</div>
    </div>
  </div>

  <div class="player_select_container">
    <div class="player_select" id="player_select_origin">
      <span> 플레이어 </span>
      <input
        type="text"
        name="name_0"
        value="플레이어"
        class="user-input"
        onfocus="this.value=''"
      />
      <div>
        {% if request.user.is_authenticated %}
        <select class="playerSelect" type="select" name="player_0_id">
          <option value="">-------</option>
          <option value="{{ request.user.id}}">나</option>
          {% for friend in friends %}
          <option value="{{ friend.id }}">{{ friend.nickname }}</option>
          {% endfor %}
        </select>
        <div onclick="openUserSearchPage(event)" class="game-user-search">
          유저 검색
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="locationInputArea">
    <span>장소 선택</span>
    <select
      class="locationSelect locationInfo"
      type="select"
      name="location"
      required=""
    >
      <option value="{{null}}">-------</option>
      {% for location in locations %}
      <option value="{{location.golf_name}}">{{location.golf_name}}</option>
      {% endfor%}
    </select>
    <button
      class="changeLocationInput"
      onclick="changeLocationInput()"
    ></button>
  </div>

  <button class="scoreSubmitBtn" type="submit">게임 생성</button>
</form>
{% endblock %} {% block script %}
<script src="{% static 'score/js/location_input.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  // 팝업창 열기
  function openUserSearchPage(event) {
    // 이벤트를 발생시킨 요소 가져오기
    var clickedElement = event.target || event.srcElement;

    // 해당 버튼이 속한 select 요소 가져오기
    var parentElement = clickedElement.parentElement;
    var selectElement = parentElement.querySelector(".playerSelect");

    window.open(
      "{% url 'games:search_users' %}",
      "_blank",
      "width=500,height=600"
    );
    window.popupArguments = { selectElement: selectElement };
  }

  // 팝업창에서 받아온 값으로 설정
  function setValue(selectElement, id, username) {
    // 선택된 옵션 제거
    var selectedOption = selectElement.querySelector("option[selected]");

    if (selectedOption) {
      selectedOption.removeAttribute("selected");
    }

    // 새로운 옵션 요소 생성
    var newOption = document.createElement("option");
    newOption.value = id;
    newOption.textContent = username;
    newOption.setAttribute("selected", true);

    // select box에 새로운 옵션 추가
    selectElement.appendChild(newOption);
  }

  function decBtn(element) {
    const input = element.parentNode.querySelector('input[type="number"]');
    // 현재 input의 value를 숫자로 변환합니다.
    let currentValue = parseInt(input.value);

    // currentValue가 min보다 크다면, 1 감소시킵니다.
    if (currentValue > parseInt(input.min)) {
      input.value = currentValue - 1;
    }
  }

  function incBtn(element) {
    const input = element.parentNode.querySelector('input[type="number"]');
    // 현재 input의 value를 숫자로 변환합니다.
    let currentValue = parseInt(input.value);

    // currentValue가 max보다 작다면, 1 증가시킵니다.
    if (currentValue < parseInt(input.max)) {
      input.value = currentValue + 1;
    }
  }

  function player_decBtn(element) {
    const input = element.parentNode.querySelector('input[type="number"]');
    // 현재 input의 value를 숫자로 변환합니다.
    let currentValue = parseInt(input.value);

    // currentValue가 min보다 크다면, 1 감소시킵니다.
    if (currentValue > parseInt(input.min)) {
      input.value = currentValue - 1;
      var elements = document.getElementsByClassName("player_select");

      // 마지막 요소가 있으면 제거
      if (elements.length > 1) {
        // 최소 1개는 남겨두기 위함
        elements[elements.length - 1].parentNode.removeChild(
          elements[elements.length - 1]
        );
      }
    }
  }

  function player_incBtn(element) {
    const input = element.parentNode.querySelector('input[type="number"]');
    // 현재 input의 value를 숫자로 변환합니다.
    let currentValue = parseInt(input.value);

    // currentValue가 max보다 작다면, 1 증가시킵니다.
    if (currentValue < parseInt(input.max)) {
      input.value = currentValue + 1;
      let original;
      if ((original = document.getElementById("player_select_origin"))) {
        var clone = original.cloneNode(true);
        var select = clone.querySelector("select");
        var inputText = clone.querySelector("input[type=text]");

        if (select) {
          select.name = "player_" + currentValue + "_id"; // 숫자를 증가시켜 이름 업데이트
        }
        if (inputText) {
          inputText.name = "name_" + currentValue; // 숫자를 증가시켜 이름 업데이트
        }

        original.parentNode.appendChild(clone);
      }
    }
  }
</script>
{% endblock %}
