{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>점수 입력</title>
  <link rel="stylesheet" href="{% static 'score/css/score_detail.css'%}" />
  <link rel="stylesheet" href="{% static 'score/css/score_create.css'%}" />
  <style>
    .before-game {
      display: flex;
      width: 100%;
      align-items: center;
      font-size: 25px;
    }
    .game-update-btns {
      display: flex;
      justify-content: flex-end;
    }
    .game_form{  
      width: 100%;
    }
    .coures > h2{
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px;
      columns: var(--green--dark--color);
    }
    .coures_ul{
      width: 100%;
      display: flex; 
      flex-direction: row;
      justify-content: space-around;
    }
    .coures_li{
      width: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .coures_li > div > input{
      width: 40%;
      padding: 10px;
      border: 1px solid #ddd;
      /* border-radius: 10px; */
      box-sizing: border-box;
      background-color: #ffffff;
      text-align: center;
      word-break: break-word;
      font-size: 10px;
    }

    .coures_li > div {
      max-width: 100px;
      height: 38px;
      margin: 10px 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
    }

    .game-btn {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid var(--green--medium--color);
      background-color: var(--green--bright--color);
      cursor: pointer;
      margin: 5px;
      color: white;
    }

    .game-btn:hover {
      background-color: var(--green--medium--color);
      border: 1px solid var(--green--medium--color);
      transition: 0.1s;
    }

    .bxs--left-arrow {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m4.431 12.822l13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645'/%3E%3C/svg%3E");
    }
    @media screen and (min-width: 430px){
      .coures_li > div > input{
        max-width: 70px;
        width: 100px;
      }
    }
    .players_name{
      display: flex;
      justify-content: space-around;
    }
    .name{
      width: 15%;
      text-align: center;
    }
    .players_name{
      display: flex;
      justify-content: space-around;
    }
    .name{
      width: 15%;
      text-align: center;
    }

    @media screen and (min-width: 700px){
      .coures_li > div > input{
        max-width: 100px;
        width: 100px;
        font-size: 15px;
      }
      .coures_li > div {
        font-size: 25px;
      }
      .coures > h2{
        font-size: 30px;
      }
    }
  </style>
{% endblock %}
{% block content %}
<a href="{% url 'games:game_set'%}" class="before-game">
  <span class="bxs--left-arrow"></span>게임 다시 설정</a>
<h1>{{ game.name }} 점수입력 페이지</h1>

<!-- 각 라운드에 대해 반복 -->
<form method="POST" action="" enctype="multipart/form-data" class="game_form">
<div class="game-update-btns">
  {% csrf_token %} {{ form }}
  <input class = 'Btn' type="submit" name = "save" value="임시 저장" class="game-btn"/>
  <input class = 'Btn' type="submit" name = "save" value="점수 저장" class="game-btn" />
</div>
{% csrf_token %} {{ form }}
{% for round in rounds %}
    <div class="coures">
        <h2>코스 {{ forloop.counter }}</h2>
        <!-- 각 플레이어에 대해 반복 -->
        <div class="players_name">
          <div class="name"></div>
          <div class="name"></div>
          
        {% for name in players_name %}
          <div class="name" >{{name}}</div>
        {% endfor %}
        </div>
        <ul class="coures_ul">
            <li class="coures_li coures_li_hole">
              <div>홀</div>
              <div>1</div>
              <div>2</div>
              <div>3</div>
              <div>4</div>
              <div>5</div>
              <div>6</div>
              <div>7</div>
              <div>8</div>
              <div>9</div>
              <div>/</div>
              <div>/</div>
            </li>
            <li class="coures_li coures_li_par">
              <div>파</div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par1_{{round.id}}" value="{{ round.par.hole1}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par2_{{round.id}}" value="{{ round.par.hole2}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par3_{{round.id}}" value="{{ round.par.hole3}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par4_{{round.id}}" value="{{ round.par.hole4}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par5_{{round.id}}" value="{{ round.par.hole5}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par6_{{round.id}}" value="{{ round.par.hole6}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par7_{{round.id}}" value="{{ round.par.hole7}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par8_{{round.id}}" value="{{ round.par.hole8}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>
              <div>
                <div class="decBtn" onclick="decBtn(this)">-</div>
                <input type="number" min="1" max = "10" name="par9_{{round.id}}" value="{{ round.par.hole9}}"/>
                <div class="incBtn" onclick="incBtn(this)">+</div>
              </div>                           
              <div>/</div>
              <div>/</div>  
            </li>
            {% for score in round.round_score.all %}
              <li class="coures_li">
                  <div>점수</div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score1_{{score.id}}" value="{{ score.scores.hole1}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score2_{{score.id}}" value="{{ score.scores.hole2}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score3_{{score.id}}" value="{{ score.scores.hole3}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score4_{{score.id}}" value="{{ score.scores.hole4}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score5_{{score.id}}" value="{{ score.scores.hole5}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score6_{{score.id}}" value="{{ score.scores.hole6}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score7_{{score.id}}" value="{{ score.scores.hole7}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score8_{{score.id}}" value="{{ score.scores.hole8}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>
                    <div class="decBtn" onclick="decBtn(this)">-</div>
                    <input type="number" min="1" max = "10" name="score9_{{score.id}}" value="{{ score.scores.hole9}}"/>
                    <div class="incBtn" onclick="incBtn(this)">+</div>
                  </div>
                  <div>합계</div>
                  <div>/</div>                        
              </li>
            {% empty %}
                <li>No players in this round.</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}

{% block script %}
<script>    
  function decBtn(element){
    const input = element.parentNode.querySelector('input[type="number"]');

  // 현재 input의 value를 숫자로 변환합니다.
    let currentValue = parseInt(input.value);

  // 계산된 새 값을 min과 max 사이의 값으로 조정합니다.
    const newValue = Math.max(currentValue - 1, parseInt(input.min));

  // input의 value를 새 값으로 설정합니다.
    input.value = newValue;
  }
  
  function incBtn(element){
    const input = element.parentNode.querySelector('input[type="number"]');

  // 현재 input의 value를 숫자로 변환합니다.
    let currentValue = parseInt(input.value);

  // 계산된 새 값을 min과 max 사이의 값으로 조정합니다.
    const newValue = Math.min(currentValue + 1, parseInt(input.max));

  // input의 value를 새 값으로 설정합니다.
    input.value = newValue;
  }
</script>
{% endblock %}

