{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'score/css/score_detail.css'%}" />
<link rel="stylesheet" href="{% static 'score/css/score_create.css'%}" />
<link rel="stylesheet" href="{% static 'score/css/score_base.css'%}" />
{% endblock %}

{% block content %}
    <form action = "" method = "post" enctype="multipart/form-data" class="score-form">
        {% csrf_token %}
        {{ form }}
        <div class="locationInputArea">
            <span>장소 선택</span>
            <select
              class="locationSelect locationInfo"
              type="select"
              name="location"
              required=""
            >
              <option value="{{null}}">-------</option>
              {% for location in locations %}
              <option value="{{location.golf_name}}">{{location.golf_name}}</option>
              {% endfor%}
            </select>
            <button
              class="changeLocationInput"
              onclick="changeLocationInput()"
            ></button>
          </div>
        <button class="scoreSubmitBtn" type="submit">게임 생성</button>
    </form>
{% endblock %}

{% block script %}
<script src="{% static 'score/js/location_input.js' %}"></script>
{% endblock %}
