/* bootstrap 때문에 안먹힌 css 수정*/
a {
    color: inherit !important;
    text-decoration: none !important;
}

.main-menu {
    margin-bottom: 0 !important;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

label {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem !important;
}

input {
    margin-bottom: 5px !important;
}

/****************************/
/* 그냥 이 페이지를 위한 css */
.signup-form-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3rem !important;
    text-align: center !important;
    margin-bottom: 2.5rem !important;
}

#signup-form {
    padding: 40px;
}

.error-input {
    border: 2px solid red !important;
}

.errorMessage p {
    color: red;
}

#address-input-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}

#address-input-container input {
    width: 100%;
    display: block;
    margin: 0 auto;
}

#address-input-container button {
    width: 60px;
    display: block;
    margin-bottom: 0 !important;
    margin-left: 10px;
}

#update-form .selectbox,
#signup-form .selectbox {
    padding: .8em .5em;
    border: 1px solid #ddd;
    border-radius: 10px;
}

select::-ms-expand {
    display: none;
}

#update-form .selectbox:focus,
#signup-form .selectbox:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 2px var(--green--medium--color);
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    outline: none;
}

#users-update-form,
.users-update-form {
    width: 90%;
}

@media screen and (min-width: 500px) {

    #users-update-form,
    .users-update-form {
        width: auto;
    }
}