{% extends 'base.html' %}

{% block content %}
<div>
    <h2>{{user.nickname}} 님의 현재 친구 목록</h2>
    <ul>
    {% for friend in friends %}
      <li>사용자 id: {{ friend.username }} 사용자 닉네임: {{ friend.nickname }}
      <form action="{% url 'users:delete_friend' pk %}" method="post" id="delete_friend-form">
        {% csrf_token %}
        <input type="hidden" name="friend_id" value="{{ friend.id }}">
        <button type="button" onclick="deleteFriend({{ friend.id }}, {{ pk }})">친구 삭제</button>
      </form>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'users:add_friend' pk %}">친구 추가하러 가기</a>
</div>
{% include 'search/search_friend.html'%}

<script>
  function deleteFriend(friend_id, pk) {
    const form = document.getElementById("delete_friend-form");
    const formData = new FormData(form);
    formData.append("friend", friend_id);

    const url = `/users/delete_friend/${pk}/`;
    const xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");

    xhr.send(formData);
  }
</script>
{% endblock content %}

