{% extends 'base.html' %} {%load static%} 
{% block head %}
<link rel="stylesheet" href="{% static 'users/css/user.css'%}" />
  <title>로그인 : 파크골프하나로</title>
{% endblock %} {% block content %}
<form method="POST" action="" class="login-form">
  {% csrf_token %} {% if message != None %}
  <!--로그인 에러 메세지 띄우기-->
  <script>
    window.onload = function () {
      var errorMessage = "{{message}}";
      if (errorMessage) {
        alert(errorMessage);
      }
    };
  </script>
  <!---->
  {% else %} {% endif %}
  {{ form }}
  <button class="user-btn">로그인</button>

  <a href="{% url 'social:begin' 'kakao' %}">
    <div class="user-login-btn kakao-btn">
      <span class="ri--kakao-talk-line"></span>카카오 로그인
    </div>
  </a>
  <a href="{% url 'social:begin' 'naver' %}">
    <div class="user-login-btn naver-btn">
      <span class="simple-icons--naver"></span>네이버 로그인
    </div></a
  >
</form>
{% endblock %}
