{% extends 'base.html' %} {%load static%} {% block head %}
<link rel="stylesheet" href="{% static 'users/css/user.css' %}" />
<title>마이페이지</title>
{% endblock %} {% block content %}
<h2 class="users-maintitle">마이페이지</h2>
{% if user.is_authenticated %} {% if now_user.id == pk %}
<h1>{{user.nickname}}님 페이지</h1>
<div class="user-mypage-container">
  <div class="user-mypage">
    <h3 class="user-mypage-title">좋아요 누른 글</h3>
    {% for like in my_likes%}
    <div>
      <a
        href="{% url 'communitys:post_detail' like.post.board.id like.post.id%}"
        ><span>{{like.post.title}}</span
        ><span>{{like.post.writer.username}}</span></a
      >
    </div>
    {% endfor %}
  </div>
  <div class="user-mypage">
    <h3 class="user-mypage-title">스크랩한 글</h3>
    {% for scrap in my_scraps%}
    <div>
      <a
        href="{% url 'communitys:post_detail' scrap.post.board.id scrap.post.id%}"
        ><span>{{scrap.post.title}}</span
        ><span>{{scrap.post.writer.username}}</span></a
      >
    </div>
    {% endfor %}
   </div>
    <div class="user-mypage">
      <h3 class="user-mypage-title">내가 작성한 글</h3>
      {% for post in my_posts%}
      <div>
        <a href="{% url 'communitys:post_detail' post.board.id post.id%}"
          ><span>{{post.title}}</span><span>{{post.writer.username}}</span></a
        >
      </div>
      {% endfor %}
    </div>
  <div class="user-mypage">
    <h3 class="user-mypage-title">골프장 즐겨찾기</h3>
    {% for location in my_locations%}
    <div>
      <a href="{% url 'locations:detail' location.ground.id%}"
        ><span>{{location.ground.golf_name}}</span></a
      >
    </div>
    {% endfor %}
  </div>
</div>
<div class="user-btn-container">
  <div class="user-btn-box">
    <h3 class="user-btn-title">친구</h3>
    <a href="{% url 'users:add_friend' user.pk %}" class="user-mypage-btn"
      >친구신청 보내기</a
    >
    <a href="{% url 'users:friend_list' user.pk %}" class="user-mypage-btn"
      >내 친구 보기</a
    >
  </div>
  <div class="user-btn-container">
    <div class="user-btn-box">
      <h3 class="user-btn-title">친구</h3>
      <a href="{% url 'users:add_friend' user.pk %}" class="user-mypage-btn">친구신청 보내기</a>
      <a href="{% url 'users:friend_list' user.pk %}" class="user-mypage-btn">내 친구 보기</a>
    </div>
    <div class="user-btn-box">
      <h3 class="user-btn-title">계정</h3>
      <a href="{% url 'users:update' user.pk %}" class="user-mypage-btn">회원정보 수정</a>
      <form method="post" action="{% url 'users:delete' user.pk %}" class="user-mypage-btn">
        <button type="submit">회원 탈퇴</button>
      </form>
    </div>
</div>
{% endblock %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'users/css/user.css' %}" />
  <title>마이페이지</title>
{% block content %}
    <h2 class="users-maintitle">마이페이지</h2>
    {% if user.is_authenticated %} {% if now_user.id == pk %}
    <h1>{{user.nickname}}님 페이지</h1>
    <div class="user-mypage-container">
      <div class="user-mypage">
            <h3 class="user-mypage-title">좋아요 누른 글</h3>
            {% for like in my_likes%}
            <div>
              <a
                href="{% url 'communitys:post_detail' like.post.board.id like.post.id%}"
                ><span>{{like.post.title}}</span
                ><span>{{like.post.writer.username}}</span></a
              >
            </div>
            {% endfor %}
          </div>
          <div class="user-mypage">
            <h3 class="user-mypage-title">스크랩한 글</h3>
            {% for scrap in my_scraps%}
            <div>
              <a
                href="{% url 'communitys:post_detail' scrap.post.board.id scrap.post.id%}"
                ><span>{{scrap.post.title}}</span
                ><span>{{scrap.post.writer.username}}</span></a
              >
            </div>
            {% endfor %}
          </div>
          <div class="user-mypage">
            <h3 class="user-mypage-title">내가 작성한 글</h3>
            {% for post in my_posts%}
            <div>
              <a href="{% url 'communitys:post_detail' post.board.id post.id%}"
                ><span>{{post.title}}</span><span>{{post.writer.username}}</span></a
              >
            </div>
            {% endfor %}
          </div>
    </div>
    <div class="user-btn-container">
      <div class="user-btn-box">
        <h3 class="user-btn-title">친구</h3>
        <a href="{% url 'users:add_friend' user.pk %}" class="user-mypage-btn">친구신청 보내기</a>
        <a href="{% url 'users:friend_list' user.pk %}" class="user-mypage-btn">내 친구 보기</a>
      </div>
      <div class="user-btn-box">
        <h3 class="user-btn-title">계정</h3>
        <a href="{% url 'users:update' user.pk %}" class="user-mypage-btn">회원정보 수정</a>
        <a href="{% url 'users:logout' %}" class="user-mypage-btn">로그아웃</a>
        <a href="" class="user-mypage-btn">회원 탈퇴</a>
      </div>
    </div>
    {%else%}
    <h1>{{user.nickname}}님 페이지</h1>
    <div>자기소개?</div>
    {% endif %} {% else %}
    <div><a href="{% url 'users:login' %}">로그인</a></div>
    <div><a href="{% url 'social:begin' 'kakao' %}">카카오 로그인</a></div>
    <div><a href="{% url 'social:begin' 'naver' %}">네이버 로그인</a></div>
    <div><a href="{% url 'users:signup' %}">회원가입</a></div>
    {% endif %} 
{% endblock %}
