{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/user.css' %}" />
    <link rel="stylesheet" href="{% static 'search/css/search_friend.css' %}" />
    {% block head %}

    {% endblock %}
</head>
<body>
    <header id="header">
        <div class="title-container">
            <a href="/">
                <img src="{% static 'main/images/parkgolfone_logo2.png' %}" alt="" class="title-logo"/>
            </a>
        </div>
        <ul class="main-menu">
            <li><a href="{% url 'locations:list' %}">지도</a></li>
            <li><a href="{% url 'communitys:board_list' %}">커뮤니티</a></li>
            {% if user.is_authenticated%}
            <li><a href="{% url 'score:score_main' %}">스코어</a></li>
            <li><a href="{% url 'users:main' user.pk %}">마이페이지</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}">로그인</a></li>
            <li><a href="{% url 'users:signup' %}"> 회원가입 </a></li>
            {% endif %}
        </ul>
        <label class="hamburger-icon">
            <input type="checkbox" />
            <div></div>
            <div></div>
            <div></div>
            <aside class="main-sidebar">
                <ul>
                    <li><a href="/">홈</a></li>
                    
                    <li><a href="{% url 'locations:list' %}">지도</a></li>
                    <li><a href="{% url 'communitys:board_list' %}">커뮤니티</a></li>
                    {% if user.is_authenticated%}
                    <li><a href="{% url 'score:score_main' %}">스코어</a></li>
                    <li><a href="{% url 'users:main' user.pk %}">마이페이지</a></li>
                    {% else %}
                    <li><a href="{% url 'users:login' %}">로그인</a></li>
                    <li><a href="{% url 'users:signup' %}"> 회원가입 </a></li>
                    {% endif %}
                </ul>
            </aside>
        </label>
    </header>
    <main id = main>
        <div class="main-container">
            {% block content %}
        
            {% endblock %}
        </div>
    </main>
    <footer id="mobileFooter">
        <ul>
            <li><a href="/">홈</a></li>
            
            <li><a href="{% url 'locations:list' %}">지도</a></li>
            <li><a href="{% url 'communitys:board_list' %}">커뮤니티</a></li>
            {% if user.is_authenticated%}
            <li><a href="{% url 'score:score_main' %}">스코어</a></li>
            <li><a href="{% url 'users:main' user.pk %}">마이페이지</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}">로그인</a></li>
            <li><a href="{% url 'users:signup' %}"> 회원가입 </a></li>
            {% endif %}
        </ul>
    </footer>
</body>
{% block script %}

{% endblock %}
</html>