/* post_create.html과 post_update.html에 함께 사용하고 있음 */
.post-create-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}
.post-create-form > div {
    padding: 10px;
}
.post-create-btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--green--medium--color);
    background-color: var(--green--bright--color);
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 15px;
    margin: 10px 0px;
}
.post-create-btn:hover {
    background-color: var(--green--medium--color);
    border: 1px solid var(--green--medium--color);
    transition: 0.1s;
}