.postList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  border: 4px solid green;
  padding: 10px;
}

.postDetailLink {
  width: 300px;
  background-color: lightgreen;
}
.communitys-btn, .post_search_btn {
  border: 1px solid var(--green--medium--color);
  background-color: #ffffff;
  cursor: pointer;
}
.communitys-btn:hover, .post_search_btn:hover {
  background-color: var(--green--medium--color);
  border: 1px solid var(--green--medium--color);
  transition: 0.1s;
}
.communitys-btn {
  padding: 10px;
  border-radius: 5px;

}

h1 {
  margin: 10px;
}