.post-container {
  width: 100%;
  border: 1px solid var(--white--border--color);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: var(--green--pale--color);
}

.communitys-btn, .post-list-btn {
  border: 1px solid var(--green--medium--color);
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
.communitys-btn:hover, .post-list-btn:hover {
  background-color: var(--green--medium--color);
  border: 1px solid var(--green--medium--color);
  transition: 0.1s;
}
.post-list-btn {
  font-size: 30px;
  padding: 5px;
}
.communitys-btn {
  padding: 10px;

}
.postList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-container {
  box-sizing: border-box;
}
.post-detail {
  margin-left: auto;
  font-size: 20px;
  color: gray;
}
h1 {
  margin: 10px;
}
/* pc일떄 */
@media screen and (min-width: 700px) {
  .postList {
    width: 70%;
  }
}
.postList > a {
  width: 100%;
  border: 1px solid var(--white--border--color);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: var(--green--pale--color);
}
.postList > a > div:nth-child(2),
.postList > a > div:nth-child(3){
  font-size: 20px;
  color: gray;
}