{% extends 'base.html' %}
{% load static%}
  
{% block head %}
  <title>파골원 커뮤니티</title>
  <link rel="stylesheet" href="{% static 'board/css/board_list.css'%}" />
{% endblock %}

{% block content %}
<div class="board_search">
  <select id="board_search_select">
    <option value="name">게시판명</option>
    <option value="admin">관리자명</option>
  </select>
  <input id="board_search_input" />
  <button id="board_search_btn">검색</button>
</div>
<!---->
<!--전체 게시판 보여주는 버튼-->
<button id="board_list_btn">전체 게시글 보기</button>
<!--게시판 리스트-->
<div class="board-list">
  {% for board in boards%}
  <div class="board-container">
    <a href="{% url  'communitys:post_list' board.pk%}">
      {% if board.thumbnail.url != '' %}
      <img src="{{board.thumbnail.url}}" alt="게시판 썸네일" /><br />
      {% else %}
      <img src="{% static 'posts/images/no_images.png' %}" alt="이미지 없음" />
      {% endif %}
      <div>{{board.name}}</div>
    </a>
  </div>
  {% endfor%}
</div>
<!---->
{% if user.is_authenticated %}    
<a href="{% url 'communitys:board_create' %}"><div class="board-btn">게시판 추가</div></a>
{% endif %}
<!-- 페이지 네이션 -->
{% endblock %} 
{% block script %}
<script>var defaultImage="{% static 'posts/images/no_images.png' %}";</script>
<script src="{% static 'posts/js/boards.js'%}"></script>
<script src="{% static 'board/js/search_board.js'%}"></script>
{% endblock %}