{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'board/css/board_create.css'%}" />
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="{% url 'communitys:board_list' %}">커뮤니티 홈</a>
    <div>
      <h1>게시판 수정하기</h1>
      <form
        action="{% url 'communitys:board_update' bid %}"
        method="post"
        enctype="multipart/form-data"
      >
        {%csrf_token%} {{form.as_p}}

        <button class="community-update-btn">수정하기</button>
      </form>
    </div>
  </body>
</html>
{% endblock %}