{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'posts/css/post_create.css'%}" />
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파골원 커뮤 수정페이지</title>
    <!-- 폼  html형식 글 작성(tiny사용) 지원을 위해 스크립트 파일 추가-->
    {{ form.media }}
  </head>
  <body>
    <div class="post-create-container">
      <div class="before-icons">
        <a href="{% url 'communitys:board_list' %}" class="before-icon">
          <span class="bxs--left-arrow"></span>커뮤니티 홈</a>
        <a href="{% url 'communitys:post_list' bid %}" class="before-icon">
          게시판 홈<span class="bxs--right-arrow"></span></a>
      </div>
      <h1>글 수정하기</h1>
      <div>
        <form
          action="{% url 'communitys:post_update' bid pk  %}"
          method="post"
          enctype="multipart/form-data"
          class="post-create-form"
        >
          {%csrf_token%} {{form.as_p}}

          <button class="post-create-btn">수정하기</button>
        </form>
      </div>      
    </div>
    
  </body>
</html>
{% endblock %}