{% extends 'base.html' %} {%load static%} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파골원 커뮤니티</title>
    <link rel="stylesheet" href="{% static 'posts/css/post_list.css'%}" />
  </head>
  <body>
    <a href="{% url 'communitys:board_list' %}">커뮤니티 홈</a>
    <h1>{{board.name}}</h1>
    {% if board.admin == now_user%}
    <form action="{% url 'communitys:board_delete' bid  %}" method="POST">
      {%csrf_token%}
      <a href="{% url 'communitys:board_update' bid %}" class="post-list-btn">게시판 수정</a>
      <button type="submit" class="post-list-btn">게시판 삭제</button>
    </form>
    {% endif %}
    <!--게시글 검색-->
    <div class="post_search">
      <select id="post_search_select">
        <option value="title">제목</option>
        <option value="writer">작성자</option>
      </select>
      <input id="post_search_input" />
      <button id="post_search_btn">검색</button>
    </div>
    <!---->
    <!--전체 게시글 보기-->
    <button id="post_list_btn">전체 게시글 보기</button>
    <!---->
    <!--게시글 정렬-->
    <div class="post_sort">
      <select id="post_sort_select">
        <option value="" disabled selected>----------</option>
        <option value="like">좋아요 많은 순</option>
        <option value="scrap">스크랩 많은 순</option>
        <option value="new">최신 순</option>
        <option value="old">오래된 순</option>
        <option value="popular">조회수순</option>
      </select>
    </div>
    <!---->
    <div class="postList">
    {% for post in posts%}
    <div class="post-container">
      <a href="{% url  'communitys:post_detail' bid post.pk%}"
        class="postDetailLink">
        <div>{{post.title}}</div>
        <div class="post-detail">작성자: {{post.writer}}</div>
        <div class="post-detail">조회수: {{post.view_num}}</div>
      </a>
    </div>
      {% endfor%}</div>
    <a href="{% url 'communitys:post_create' bid %}" class=" communitys-btn">글 작성하기</a>

    <!-- 페이지 네이션 -->
  </body>
</html>
{% endblock %} {% block script %}
<script>
  var boardId={{bid}};
</script>
<script src="{% static 'posts/js/posts.js'%}"></script>
<script src="{% static 'posts/js/search_post.js'%}"></script>
<script src="{% static 'posts/js/sort_post.js'%}"></script>
{% endblock %}
