{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'posts/css/post_create.css'%}" />
  <title>커뮤니티 게시글 생성 : 파크골프하나로</title>
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 폼  html형식 글 작성(tiny사용) 지원을 위해 스크립트 파일 추가-->
    {{ form.media }}
  </head>
  <body>
    <div class="post-create-container">
      <div class="before-icons">
        <a href="{% url 'communitys:board_list' %}" class="before-icon">
          <span class="bxs--left-arrow"></span>커뮤니티 홈</a>
        <a href="{% url 'communitys:post_list' bid %}" class="before-icon">
          게시판 홈<span class="bxs--right-arrow"></span></a>
      </div>    
      <form method="POST" action="" enctype="multipart/form-data" class="post-create-form">
        <h1>NEW POST</h1>
        {% csrf_token %} {{ form }}
        <input type="submit" value="글 등록" class="post-create-btn"/>
      </form>
    </div>
    
  </body>
</html>
{% endblock %}