{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'posts/css/post_create.css'%}" />
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 폼  html형식 글 작성(tiny사용) 지원을 위해 스크립트 파일 추가-->
    {{ form.media }}
  </head>
  <body>
    <a href="{% url 'communitys:board_list' %}">커뮤니티 홈</a>
    <a href="{% url 'communitys:post_list' bid %}">게시판 홈</a>
    <form method="POST" action="" enctype="multipart/form-data" class="post-create-form">
      <h1>NEW POST</h1>
      {% csrf_token %} {{ form }}
      <input type="submit" value="글 등록" class="post-create-btn"/>
    </form>
  </body>
</html>
{% endblock %}