{% extends 'base.html' %} {% load static %} {% block head %}
<title>파골원 커뮤니티</title>
<link rel="stylesheet" href="{% static 'locations/css/location_list.css'%}" />
<link rel="stylesheet" href="{% static 'locations/css/location_fav.css'%}" />
{% endblock %} {% block content %}
<div>
  <div class="location-header">
    <h1>전국 골프장 목록</h1>
    <div class="location-btn">
      <a href="{% url 'locations:myhome' pk=user.id %}"
        >내 집 주변 파크골프장</a
      >
    </div>
    <div>
      <a href="{% url 'locations:myplace' %}">현재 내 위치 주변 파크골프장</a>
    </div>
    <div class="location-btn">
      <a href="{% url 'locations:create' %}">골프장 추가</a>
    </div>
  </div>
  <div class="locationInputArea">
    <input
      class="locationInput locationInfo"
      type="text"
      name="location"
      placeholder="파크골프장 이름을 입력해주세요."
    />
    <!-- 알맞는 데이터 나열   -->
  </div>
  <div class="form-group">
    <label for="city">시/도:</label>
    <select id="city" class="locationList-input" onchange="findLocation()">
      <option value=" ">선택해주세요</option>
    </select>
    <label for="town">군/구:</label>
    <select id="town" class="locationList-input" onchange="findLocation()">
      <option value=" ">------</option>
    </select>
    <label for="sortType">기준 : </label>
    <select id="sortType" class="locationList-input" onchange="findLocation()">
      <option value="golf_name">이름순</option>
      <option value="-fav_num">추천순</option>
    </select>
  </div>
  <div class="location-main-container"></div>
</div>
{% endblock %} {% block script %}
<!-- 장소검색 -->
<script src="{% static 'locations/javascript/location_search.js' %}"></script>
{%endblock%}
