{% extends 'base.html' %}
{% load static %}
{% block head %}
  <title>내 위치 주변 파크골프장 : 파크골프하나로</title>
{% endblock %}
{% block content %}
    <div>
      <h4>** 내 위치에서 가까운 파크골프장 **</h4>
    </div>
    <br>
    <div id="myposition_map" class="location">
      <div class="overlay" id="overlay">
        <div class="spinner">
          <div class="ball"></div>
          <p id="loading">LOADING</p>
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
      <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mzbzbj8tit">
      </script>
      <script>
        var positions_list = JSON.parse('{{positions_list|safe}}');
      </script>
      <script src="{% static 'locations/javascript/myposition_script.js' %}">
      </script>
{% endblock %}