{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
{% endblock %}
{% block content %}
    <div id="myposition_map" style="width: 800px; height: 500px;" class="location">
      <div class="overlay" id="overlay">
        <div class="spinner">
          <div class="ball"></div>
          <p id="loading">LOADING</p>
        </div>
      </div>
    </div>

{% endblock %}
{% block script %}
      <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mzbzbj8tit">
      </script>
      <script>
        var positions_list = JSON.parse('{{positions_list|safe}}');
      </script>
      <script src="{% static 'locations/javascript/myposition_script.js' %}">
      </script>
{% endblock %}