{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 포트폴리오</title>
    <link rel="stylesheet" href="{% static 'score/css/score_history.css'%}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="scoreMainBtn">
      <a href="{% url 'users:logout'%}">로그아웃</a>
    </div>
    {% endif %}
    <a href="{% url 'score:score_main'%}">스코어 메인페이지 링크</a>
    <!-- 아래를 그래프 차트 그리는데 사용합니다. 수정시 userId 안에는 uid만 있게 해주세요! -->
    <h2 class="userId">{{uid}}</h2>
    <div>
      <h4>점수 변화</h4>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="scoreMainBtn">
      <a href="{% url 'score:score_input' user.id %}">점수 입력하기</a>
    </div>
    <div class="scoreList">
      {% for score in scores %}
      <div class="scoreBox">
        <a href="{% url 'score:score_detail' score.id %}">
          <div>{{score.ground.golf_name}}</div>
          <div class="totalScore">기록 : {{score.total_score}}</div>
        </a>
      </div>
      {% endfor%}
    </div>
    <!-- 페이지네이션 -->
    <script src="{% static 'score/js/score.js' %}"></script>
    <!-- 차트 -->
    <script src="{% static 'score/js/chart.js' %}"></script>
  </body>
</html>
