{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세부 점수</title>
    <link rel="stylesheet" href="{% static 'score/css/score_detail.css'%}" />
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
    <a href="{% url 'score:score_main'%}">스코어 메인페이지 링크</a>
    <h1>점수 디테일 페이지</h1>
    <div class="scoreGrid">
      <div>홀</div>
      <div>파</div>
      <div>점수</div>
      <div>1</div>
      <div>{{score.par.hole1}}</div> <!--class="score-detail-value"-->
      <div class="scoreArea">{{score.scores.hole1}}</div> <!--class="score-detail-value"-->
      <div>2</div>
      <div>{{score.par.hole2}}</div>
      <div class="scoreArea">{{score.scores.hole2}}</div>
      <div>3</div>
      <div>{{score.par.hole3}}</div>
      <div class="scoreArea">{{score.scores.hole3}}</div>
      <div>4</div>
      <div>{{score.par.hole4}}</div>
      <div class="scoreArea">{{score.scores.hole4}}</div>
      <div>5</div>
      <div>{{score.par.hole5}}</div>
      <div class="scoreArea">{{score.scores.hole5}}</div>
      <div>6</div>
      <div>{{score.par.hole6}}</div>
      <div class="scoreArea">{{score.scores.hole6}}</div>
      <div>7</div>
      <div>{{score.par.hole7}}</div>
      <div class="scoreArea">{{score.scores.hole7}}</div>
      <div>8</div>
      <div>{{score.par.hole8}}</div>
      <div class="scoreArea">{{score.scores.hole8}}</div>
      <div>9</div>
      <div>{{score.par.hole9}}</div>
      <div class="scoreArea">{{score.scores.hole9}}</div>
      <div>합계</div>
      <div>/</div>
      <div class="totalScoreArea">{{score.total_score}}</div>
    </div>
    <div> 총점 : {{score.total_score}}</div>
    {% if score.player == now_user %}
      <form
        action="{% url 'score:score_delete' score.id %}"
        method="POST"
      >
        {%csrf_token%}
        <a
          href="{% url 'score:score_update' score.id %}"
          class="btn btn-primary"><div class="score-detail-btn">수정하기</div></a
        >
        <button type="submit" class="score-detail-btn">삭제하기</button>
      </form>
    {% endif %}
    <button id='kakaotalk-sharing-btn' onclick="shareKakaoScore()">카카오톡 공유하기</button>
    <!--  네이버 밴드 공유하기  -->
    <span>
      <script type="text/javascript" src="//developers.band.us/js/share/band-button.js?v=06022024"></script>
      <script type="text/javascript">
          new ShareBand.makeButton({"lang":"ko-KR","type":"c","text":"내 점수 보러가기","withUrl":true});
      </script>
    </span>
    <!-- 링크에 쓸 변수 작성 -->
    <script> 
      var sid = {{ sid }};
      //var now_user = {{now_user.nickname}}
      const thumbnailUrl  = "{% static 'base/images/parkgolfone_logo1.png' %}";
      
      //console.log(now_user);
    </script>
    <script src="{% static 'js/link.js' %}"> </script>
</body>
</html>
{% endblock %}