{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 유저 포트폴리오</title>
    <link rel="stylesheet" href="{% static 'score/css/score_history.css'%}" />
</head>
<body>
    {% if user.is_authenticated %}
    <div class="scoreMainBtn"> <a href="{% url 'users:logout'%}">로그아웃</a></div>
    {% endif %}
    <a href="{% url 'score:score_main'%}">스코어 메인페이지 링크</a>
    유저 점수 포트폴리오 페이지
    <div>그래프 영역</div>
    <div class="scoreMainBtn"><a href="{% url 'score:score_input' user.id %}">점수 입력하기</a></div>
    <div class="scoreList">    
        {% for score in scores %}
        <div class="scoreBox">
            <a href="{% url 'score:score_detail' score.id %}">            
                <div>{{score.ground.golf_name}}</div>
                <div>기록 : {{score.total_score}}</div>
            </a>
        </div>
        {% endfor%}
    </div>
</body>
</html>