{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세부 점수</title>
    <link rel="stylesheet" href="{% static 'score/css/score_detail.css'%}" />

</head>
<body>
    {% if user.is_authenticated %}
    <div class="scoreMainBtn"> <a href="{% url 'users:logout'%}">로그아웃</a></div>
    {% endif %}
    <a href="{% url 'score:score_main'%}">스코어 메인페이지 링크</a>
    점수 디테일 페이지
    <div class="scoreGrid">
      <div>홀</div>
      <div>파</div>
      <div>점수</div>
      <div>1</div>
      <div>{{score.par.0}}</div>
      <div>{{score.score.0}}</div>
      <div>2</div>
      <div>{{score.par.1}}</div>
      <div>{{score.score.1}}</div>
      <div>3</div>
      <div>{{score.par.2}}</div>
      <div>{{score.score.2}}</div>
      <div>4</div>
      <div>{{score.par.3}}</div>
      <div>{{score.score.3}}</div>
      <div>5</div>
      <div>{{score.par.4}}</div>
      <div>{{score.score.4}}</div>
      <div>6</div>
      <div>{{score.par.5}}</div>
      <div>{{score.score.5}}</div>
      <div>7</div>
      <div>{{score.par.6}}</div>
      <div>{{score.score.6}}</div>
      <div>8</div>
      <div>{{score.par.7}}</div>
      <div>{{score.score.7}}</div>
      <div>9</div>
      <div>{{score.par.8}}</div>
      <div>{{score.score.8}}</div>
      <div>합계</div>
      <div>/</div>
      <div>{{score.total_score}}</div>
    </div>
    <div> 총점 : {{score.total_score}}</div>
    {% if score.player == now_user %}
      <form
        action="{% url 'score:score_delete' score.id %}"
        method="POST"
      >
        {%csrf_token%}
        <a
          href="{% url 'score:score_update' score.id %}"
          class="btn btn-primary"
          >수정하기</a
        >
        <button type="submit">삭제하기</button>
      </form>
      {% endif %}
</body>
</html>
{% endblock %}