{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>점수 입력</title>
</head>
<body>
    <a href="{% url 'score:score_main'%}">스코어 메인페이지 링크</a>
    점수입력 페이지
    <form method="POST" action="" enctype="multipart/form-data">
        <h1>NEW SCORE</h1>
        {% csrf_token %} {{ form }}
        <input type="submit" value="점수 등록" />
      </form>
</body>
</html>
{% endblock %}