.postFavBtn {
  width: 26px;
  height: 26px;
  margin: 7px;
  background-color: transparent;
  border: none;
  background-image: url("/static/locations/images/nofav.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.2s;
}

.postFavBtn:hover {
  opacity: 0.5;
}

.faved {
  background-image: url("/static/locations/images/faved.png") !important;
}

.location-score-info{
  display:flex;
  gap:10px;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.location-fav-info{
  display:flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  flex:1;
}

.rateNum{
  font-size: 20px;
  flex:1;
  text-align: right;
}
