.board-btn {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--green--medium--color);
    background-color: var(--green--bright--color);
    cursor: pointer;
    width: 100%;
    margin: 10px 0px;
    color: white;
    font-size: 15px;
}
.board-btn:hover {
    background-color: var(--green--medium--color);
    border: 1px solid var(--green--medium--color);
    transition: 0.1s;
}
.signup-block {
    font-size: 25px;
    width: 100%;
}
.signup-block h1 {
    text-align: center;
}
#id_name {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
#id_admin {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}
.community-update-btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--green--medium--color);
  background-color: var(--green--bright--color);
  cursor: pointer;
  font-size: 30px;
  margin: 5px;
  color: white;
  font-size: 15px;
  line-height: 1;
  width: 100%;
}
.community-update-btn:hover {
    background-color: var(--green--medium--color);
    border: 1px solid var(--green--medium--color);
    transition: 0.1s;
}
.board-create-container {
    width: 100%;
    font-size: 25px;
}
.board-create-container h1 {
    text-align: center;
}
.bxs--left-arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m4.431 12.822l13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645'/%3E%3C/svg%3E");
}
@media screen and (min-width: 700px) {
    .board-create-container,
    .signup-block {
        width: 70%;
    }
}
